{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="js/calculate-price.js"></script>
{% endblock %}

{% block body %}
    <div class="js-calculate-price-view">
        <div class="mb-4">
            <a href="/">Home</a>
            <br>
            <a href="/create-country">Create country</a>
        </div>

        {{ form_start(form, {'attr': {'class': 'js-form'}}) }}
        <div class="form-group">
            {{ form_label(form.price, 'Price') }}
            {{ form_widget(form.price, {'attr': {'class': 'js-price-field'}}) }}
        </div>
        {{ form_row(form.country) }}
         <div class="form-group">
         {{ form_widget(form.save, {'attr': {'class': 'js-calculate-btn btn-primary'}}) }}
         </div>
        {{ form_end(form) }}

        <div class="js-price-with-tax" style="font-size: 20px;"></div>
    </div>

{% endblock %}
