{% extends 'base.html.twig' %}

{% block body %}

    <div class="mb-4">
        <a href="/">Home</a>
        <br>
        <a href="/calculate-price">Calculate price</a>
    </div>

    {{ form(form) }}

{% endblock %}
