{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <a href="/create-country">Create country</a>
    <br>
    <a href="/calculate-price">Calculate price</a>

{% endblock %}